<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-left col-md-2">Left</div>
            <div class="navbar-middle col-md-8">Middle</div>
            <div class="navbar-right col-md-2">Right</div>
        </div>
    </div>
</div>