<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-left col-md-2 sidebar-menu"><a href="#"><span class="glyphicon glyphicon-list"></a></span></div>
            <div class="navbar-middle col-md-8"></div>
            <div class="navbar-right col-md-2"><a href="#profile"><span class="glyphicon glyphicon-user"></a></div>
        </div>
    </div>
</div>