<ul class="list-group no-border-radius">
<% for (userIndex in users) { %>  
	<a class="list-group-item no-border-radius" href="#">
		<h5><%= users[userIndex].firstName %> <%= users[userIndex].lastName %></h5>
	</a>
<% } %>
</ul>

<a href="#profile"><button type="button" class="btn btn-default">Profile</button></a>